{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <form class="text-center">
            <h5 class="mb-5">Point Page</h5>

            <!-- Card Rank -->
            <div style="font-size: 1.5rem; text-align: left;">
                <div><i class="far fa-credit-card"></i> Card Rank</div>
            </div>
            <select class="form-select mb-3">
                <option value="1" selected>Normal</option>
                <option value="2">Silver</option>
                <option value="3">Gold</option>
            </select>

            <!-- Order Date -->            
            <div style="font-size: 1.5rem; text-align: left;">
                <div><i class="far fa-calendar"></i> Order Date</div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Year</span>
                <select class="order-year" id="year" style="width: 5rem;">
                </select>
                <span class="input-group-text">Month</span>
                <select class="order-month" id="month"  style="width: 5rem;">
                </select>
                <span class="input-group-text">Day</span>
                <select class="order-day" id="day"  style="width: 5rem;">
                </select>
            </div>

            <!-- Shop -->
            <div style="font-size: 1.5rem; text-align: left;">
                <div><i class="fas fa-shop"></i> Shop</div>
            </div>
            <select class="form-select mb-3">
                <option value="1" selected>A Shop</option>
                <option value="2">B Shop</option>
                <option value="3">C Shop</option>
            </select>

            <!-- Order Price -->
            <div style="font-size: 1.5rem; text-align: left;">
                <div><i class="fas fa-dollar-sign"></i> Order Price</div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="orderPrice"/>
            </div>

            <button type="button" class="btn btn-primary">Calculate</button>
        </form>
    </div>
</div>

<script>
console.log("Hello")
</script>
{% endblock %}